<Project xmlns="https://www.openaire.eu/cerif-profile/1.1/" id="@virtual.id@">
	<Title>@dc.title@</Title>
	<Description>@dc.description@</Description>
	<Purpose>@synsicris.type.purpose@</Purpose>
	<Organisation>@synsicris.relation.partner@</Organisation>
	<Stakeholder>@synsicris.relation.targetgroup@</Stakeholder>
  <Status>@oairecerif.project.status@</Status>
</Project>