<Project xmlns="https://www.openaire.eu/cerif-profile/1.1/" id="@virtual.id@">
	<Acronym>@oairecerif.acronym@</Acronym>
	<Title>@dc.title@</Title>
	<StartDate>@oairecerif.project.startDate@</StartDate>
	<EndDate>@oairecerif.project.endDate@</EndDate>
    <Status>@oairecerif.project.status@</Status>
</Project>